@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.navbar-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navbar-address p {
  margin: 0;
  padding: 0;
  color: #333;
}
.navbar-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar-between-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .navbar-between {
  background-color: gray;
} */
.navbar-between-content {
  .navbar-logo,
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  .navbar-logo img {
    height: 50px;
    width: 50px;
  }
  .navbar-logo p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    font-family: "Pacifico", cursive;
  }
  .navbar-icons {
    gap: 10px;
  }
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-menu p {
  margin: 0;
  padding: 0;
  color: #333;
  cursor: pointer;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 2px;
}
.navbar-between-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar-between-menu {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-search {
  border: 2px solid #2bff00;
  border-radius: 30px;
  position: relative;
}

.list-product-search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.navbar-search input {
  padding: 7px;
  border: none;
}
.navbar-search i {
  padding: 10px;
}
.navbar-search input:focus {
  outline: none;
}

.navbar-search Button {
  padding: 10px;
  background-color: #2bff00;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.navbar-search Button:hover {
  background-color: #28c700;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}
.navbar-icons i {
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.navbar-icons i:hover {
  color: #28a745;
}

.cart-icon .cart-length-navbar {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #23ff06;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.list-product-search-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.list-product-search-item:hover {
  background-color: #807a7a;
  transition: background-color 0.3s ease;
}
.list-product-search-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}
.list-product-search-item p {
  margin: 0;
  color: #333;
  font-size: 14px;
  padding-right: 10px;
}

.no-result {
  text-align: center;
  padding: 10px;
  color: #999;
}
.language-select,
.language-select option {
  border: none;
}

@media screen and (max-width: 768px) {
  .navbar-between-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-auth {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-between-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-between-menu p {
    margin-bottom: 10px;
  }
  .navbar-search {
    width: 100%;
    margin: 20px 0;
  }
  .navbar-search Button {
    margin-left: 81px;
  }
}
