.blog-container-main {
  display: grid;
  grid-template-columns: 1.25fr 2.75fr;
  gap: 20px;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .blog-container-main {
    grid-template-columns: 1fr;
  }
}
