.nc-image-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.nc-image-wrapper .nc-image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nc-image-wrapper .nc-image:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
