.register-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 250px;
  .input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: none;
    .input-group-register {
      display: flex;
      flex-direction: row;
      border: 2px solid #00ff40;
      border-radius: 32px;
    }
    input {
      width: 260px;
      padding: 10px;
      border-radius: 10px;
      border: none;
      border-radius: 30px;
    }
    input:focus {
      outline: none;
    }
    button {
      /* margin-left: 10px; */
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      background-color: #28a745;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: #218838;
      }
    }
  }
  div i {
    font-size: 1.5rem;
    color: #495057;
    cursor: pointer;
    &:hover {
      color: #007bff;
    }
  }
}

.input-group {
  border: 2px solid #00ff40;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .register-form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .input-form {
    flex-direction: column;
  }
}
